@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    font-family: 'Roboto Slab', serif;
}

.notes-list {
    min-height: 100vh;
    background-color: '#fff';

}

.note-screen-wrapper {
    border: 1px solid red;
    height: calc(100vh - 64px);
}

.ant-form-item-control-input-content, .ant-form-item-control-input {
    height: 100%;
}

.ant-list {
    padding: 15px;
}


.bg-red {
    background-color: red;
}

.bd {
    border: 1px solid red;
}

.h100 {
    height: calc(100vh - 64px)
}

.note-item {
    border: 1px solid #ccc;
    justify-content: space-between;
    transition: .4s ease-in all;
}

.note-item:hover {
    background-color: #ccc;
}


.ant-list-split .ant-list-item:last-child {
    border-bottom: 1px solid #ccc;
}

.selected-note {
    background-color: red;
}

.add-note-form {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
}
